body {
    background-color: #1F1E26!important;
}
h1 {
	font-size: 40px;
	font-family: sans-serif!important;
}
h1, h2, h3, h4, h5, h6, p, b, i {
	color: white;
}
.logo {
	width: 200px;
}
.topbar {
	margin-top: 20px;
}
.bluetext {
	color: #3185ED!important;
}
.camera {
    position: -webkit-sticky;
    position: fixed;
    bottom: 0;
    left: 40%;
    text-align: center;
    background: #223C91;
	border: 5px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 100%;
	padding: 20px;
	margin-bottom: 10px;
}

@media only screen and (min-width: 990px) {
  .camera {
    left: 45%;
  }
}

.warranty {
	  	object-fit: cover;
	  	object-position: 100% 1;
	    width: 1200px;
	    height: 400px;
	    max-width: 100%;
	    border-radius: 30px;
}
